
.button:hover{
    -fx-background-color: #38DDF3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: blue;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
}
.button:pressed
{
-fx-background-color : #1620A1;
}





.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


